.create-shops {
  margin-bottom: 28px;
  &__category-inner {
    display: flex;
    justify-content: space-between;
  }
  &__category-col {
    width: 33%;
    margin-right: 18px;
    &::last-child {
      margin-right: 0;
    }
  }
  &__header {
    color: #141414;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 700;
  }
  label {
    position: relative;
    padding-left: 30px;
    color: #141414;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 700;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url('img/icon-unchecked-small.svg');
    }
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked~label::before {
    background-image: url('img/icon-checked-small.svg');
  }
  .select__wrapper--city {
    margin-top: 8px;
    select {
    color: #555555;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 400;
  }
  }
  .select {
    &--hyper,
    &--super,
    &--shop {
        margin-top: 10px;
      select {
        color: #555555;
        font-family: $font-family;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

}
